p {
  line-height: 20px;
}
.button_add_product {
  background-color: #1677ff;
}
.wrap_products {
  display: flex;
  justify-content: space-around;
}
.title_products {
  font-size: 20px !important;
}
.gutter_row {
  padding-top: 12px;
}
.use_button {
  background-color: #1677ff;
  /* font-weight: 500; */
}
